.container{
    position: relative;
}
.title{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
.title::before{
    content: '';
    top: 2.5%;
    position: absolute;
    left: 30%;
    width: 50px;
    height: 5px;
    background-color: blueviolet;
}

.title::after{
    content: '';
    top: 2.5%;
    position: absolute;
    right: 30%;
    width: 50px;
    height: 5px;
    background-color: blueviolet;
}

.content{
    display: flex;
    gap: 50px;
}